@font-face {
    font-family: "rubik-black";
    src: url("assets/fonts/Rubik-Black.ttf");
  }
  
  @font-face {
    font-family: "rubik";
    src: url("assets/fonts/Rubik-Regular.ttf");
  }

html {
  background-image: url("./assets/media/background.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  position: absolute;
}

.tillLogo {
    position: absolute;
    width: 15vw;
    left: 5vw;
    top: 2vh;
}
  
  .bahad7logo {
    position: absolute;
    width: 16vw;
    top: 1vh;
    left: 82vw;
}

.headlineQuestions {
    font-family: "rubik-black";
    color: white;
    font-size: 4vmax;
    position: absolute;
    text-align: center;
    left: 12vw;
    top: 9vh;
    z-index: 3;
}

  .submitBtnQuestions {
    font-family: "rubik";
    font-size: 3vmax;
    text-align: center;
    width: 35vw;
    border-radius: 30%;
    padding: 0.5vh;
    position: absolute;
    top: 83vh;
    left: 34vw;
}

.questionDiv {
  position: absolute;
  width: 85vw;
  height: 56vh;
  background-color: white;
  border-radius: 10%;
  left: 8vw;
  top: 20vh;
}

.questions {
  font-family: "rubik";
  direction: rtl;
  width: 78vw;
  position: absolute;
  top: 3vh;
  text-align: center;
  left: 4vw;
}

.answers {
  font-family: "rubik";
  top: 45vh;
  direction: rtl;
  text-align: right;
}

#answer1 {
  position: absolute;
  border: 1px solid black;
  border-radius: 100%;
  width: 4vw;
  height: 2vh;
  left: 70vw;
  top: 18.5vh;
}

#answer2 {
  position: absolute;
  border: 1px solid black;
  border-radius: 100%;
  width: 4vw;
  height: 2vh;
  left: 70vw;
  top: 29vh;
}

#answer3 {
  position: absolute;
  border: 1px solid black;
  border-radius: 100%;
  width: 4vw;
  height: 2vh;
  left: 70vw;
  top: 39vh;
}

#answer4 {
  position: absolute;
  border: 1px solid black;
  border-radius: 100%;
  width: 4vw;
  height: 2vh;
  left: 70vw;
  top: 49vh;
} 

.sentences {
  font-family: "rubik";
  text-align: right;
  font-size: 2vmax;
  width: 60vw;
}

.answersDiv {
  position: absolute;
  top: 12.5vh;
  left: 4vw;
  margin-top: 2vh;
  margin-bottom: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 40vh;
}

.feedback {
  position: absolute;
  width: 20vw;
  top: 84vh;
  left: 11vw;
}

.rightFeedback {
  display: none;
}

.wrongFeedback {
  display: none;
}